*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

@font-face {
  font-family: "Cal Sans";
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  background-color: #333;
  color: #fff;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}

.header {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(red), color-stop(blue), color-stop(green), to(yellow));
  background: linear-gradient(red, blue, green, yellow);
  border-radius: 0.625rem;
}
.header__content {
  font-size: 3rem;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  text-wrap: none;
}
@media (max-width: 29.9988em) {
  .header__content {
    font-size: 1rem;
    color: red;
  }
}
.header__content:hover {
  color: aqua;
}

.magic span {
  font-size: 50px;
  font-weight: 700;
  opacity: 0;
  display: inline-block;
  -webkit-animation: some-anim 1s 1 ease forwards;
          animation: some-anim 1s 1 ease forwards;
}

@-webkit-keyframes some-anim {
  0% {
    opacity: 0;
    rotate: -50deg;
  }
  100% {
    opacity: 1;
    rotate: 0deg;
  }
}

@keyframes some-anim {
  0% {
    opacity: 0;
    rotate: -50deg;
  }
  100% {
    opacity: 1;
    rotate: 0deg;
  }
}