@use "sass:math";
@use "colors" as *;
@use "mixins" as *;

// ==================================================

.catalog {
    @include adaptiveValue("padding-bottom", 80, 30);

    // .catalog__container
    &__container {}

    // .catalog__form
    &__form {
        // overflow: clip;
    }

    // .catalog__filter
    &__filter {
        @media (min-width: toEm($mobile)) {
            flex-basis: toRem(336);
            padding-right: toRem(24);
            transition: margin-left 0.3s;

            .open-filter & {
                margin-left: 0;
            }
        }

        @media (max-width: toEm($mobile)) {
            display: none;
            padding-top: toRem(15);

            .open-filter & {
                display: block;
            }
        }

        @media ((max-width:toEm($tablet)) and (min-width: toEm($mobile))) {
            margin-left: toRem(-336);
        }
    }

    // .catalog__body
    &__body {
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    // .catalog__content
    &__content {
        flex-grow: 1;
    }

    // .catalog__items
    &__items {
        gap: toRem(24);
        @include adaptiveValue("margin-bottom", 40, 25);
    }
}

.header-catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: toRem(10) toRem(20);
    min-height: toRem(46);

    &:not(:last-child) {
        margin-bottom: toRem(22);
    }

    @media (max-width: toEm($mobile)) {
        display: block;
    }

    // .header-catalog__filter
    &__filter {
        transition: all 0.3s;
        flex-basis: toRem(312);

        @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(15);
        }

        @media (min-width:toEm($tablet)) {
            margin-left: toRem(-332);
            visibility: hidden;
        }
    }

    // .header-catalog__button
    &__button {
        .open-filter & {
            background-color: $successDark;
        }

        @media (max-width: toEm($mobile)) {
            width: 100%;
        }
    }

    // .header-catalog__body
    &__body {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(10) toRem(20);
        justify-content: space-between;
    }

    // .header-catalog__sort
    &__sort {}

    // .header-catalog__result
    &__result {
        @include typography("M");
        color: $grey6;

        span {
            color: $grey9;
            font-weight: 600;
        }
    }
}

.sort-catalog {
    display: flex;
    align-items: center;
    @include typography("S");
    gap: toRem(8);

    @media (max-width: toEm($mobileSmall)) {
        flex-grow: 1;
    }

    // .sort-catalog__label
    &__label {
        color: $grey5;
    }

    // .sort-catalog__body
    &__body {
        position: relative;

        &::before {
            position: absolute;
            right: toRem(16);
            top: 50%;
            z-index: 2;
            translate: 0 -50%;
            font-size: toRem(6);
        }

        @media (max-width: toEm($mobileSmall)) {
            flex-grow: 1;
        }
    }

    // .sort-catalog__select
    &__select {
        padding-right: toRem(40);
        appearance: none;
        border-radius: toRem(4);
        height: toRem(41);
        color: $grey7;
        padding-left: toRem(16);
        border: toRem(1) solid $grey1;
        width: 100%;
    }

    // .sort-catalog__item
    &__item {}
}

.filter {
    @media (min-width: toEm($mobile)) {
        position: sticky;
        top: toRem(210);
    }

    // .filter__body
    &__body {}

    // .filter__item
    &__item {
        margin-bottom: toRem(20);
    }
}

.item-filter {
    padding-bottom: toRem(20);
    border-bottom: toRem(1) solid $grey1;

    // .item-filter__header
    &__header {
        @include typography("XL", 500);
        color: $grey9;
        cursor: pointer;
        appearance: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(10);

        &::after {
            transition: rotate 0.2s ease;
            content: "\e912";
            font-family: "iconfont";
            font-size: toRem(10);
        }


    }

    // .item-filter__body
    &__body {
        padding-top: toRem(20);
    }

    // .item-filter__categories
    &__categories {}

    // .item-filter__price
    &__price {}

    &[open] {
        .item-filter__header {
            &::after {
                rotate: -180deg;
            }

        }
    }

}

.categories-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // .categories-filter__item
    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: toRem(8);
        outline-offset: toRem(-1);

        &::before {
            content: "";
            transition: all 0.2s ease;
            width: toRem(20);
            flex-shrink: 0;
            aspect-ratio: 1;
            border-radius: 50%;
            outline-offset: toRem(-1);
            outline: toRem(1) solid $grey2;
            border: toRem(4) solid transparent;
        }

        &:has(.categories-filter__input:focus-visible) {
            outline: toRem(1) solid $grey9;
        }

        &:has(.categories-filter__input:checked) {
            &::before {
                outline-color: $success;
                border-color: $white;
                background-color: $success;
            }
        }

        &:not(:last-child) {
            margin-bottom: toRem(20);
        }

        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                &::before {
                    outline-color: $grey4;
                }
            }
        }
    }

    // .categories-filter__input
    &__input {
        appearance: none;
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    // .categories-filter__text
    &__text {

        @include typography("S");
        color: $grey9;

        span {
            color: $grey5;
        }
    }

}

.price-filter {

    // .price-filter__slider
    &__slider {}

    // .price-filter__info
    &__info {
        padding-top: toRem(16);
        display: flex;
        align-items: center;
        gap: toRem(5);
    }

    // .price-filter__label
    &__label {
        @include typography("S");
        color: $grey7;
    }

    // .price-filter__value
    &__value {
        @include typography("S", 500);
        color: $grey9;
    }

    // .price-filter__from
    &__from {}

    // .price-filter__to
    &__to {}
}


.rating-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: toRem(20);

    // .rating-filter__item
    &__item {
        display: inline-flex;
        align-items: center;
        gap: toRem(8);

        &::before {
            content: "";
            width: toRem(20);
            aspect-ratio: 1;
            border: toRem(1) solid $grey2;
            border-radius: toRem(3);
        }

        &:has(.rating-filter__input:focus-visible) {
            outline: toRem(1) solid $grey9;
        }

        &:has(.rating-filter__input:checked) {
            &::before {
                background-color: $success;
                border-color: $success;
                font-family: "iconfont";
                content: "\e903";
                color: $white;
                font-size: toRem(9);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    // .rating-filter__input
    &__input {
        appearance: none;
        position: absolute;
        width: 0;
        left: 0;
        opacity: 0;
    }

    // .rating-filter__label
    &__label {}


    // .rating-filter__body
    &__body {
        display: flex;
        gap: toRem(5);
    }

    // .rating-filter__items
    &__items {
        display: flex;
        flex-direction: row-reverse;
        gap: toRem(3);
    }

    // .rating-filter__star
    &__star {
        width: toRem(14);
        background: url("../img/icons/star.svg") 0 0 / 100% no-repeat;

        &--active,
        &--active~* {
            background: url("../img/icons/star-active.svg") 0 0 / 100% no-repeat;
        }
    }

    // .rating-filter__value
    &__value {
        color: $grey9;
        @include typography("S");
    }
}