$successBright: #84d187;
$success: #00b207;
$successDark: #2c742f;
$warning: #ff8a00;
$error: #ea4b48;
$successBright: #84d187;
$blue: #2388FF;

$green9: #002603;
$green8: #173b1a;
$green7: #2b572e;
$green6: #406b42;
$green5: #618062;
$green4: #7a997c;
$green3: #96b297;
$green2: #b4ccb4;
$green1: #dae5da;


$grey9: #1a1a1a;
$grey8: #333;
$grey7: #4d4d4d;
$grey6: #666;
$grey5: #808080;
$grey4: #999;
$grey3: #b3b3b3;
$grey2: #ccc;
$grey1: #e6e6e6;
$grey05: #f2f2f2;
$white: #fff;

$yellow: #FCC900;