$successBright: #84d187;
$success: #00b207;
$successDark: #2c742f;
$warning: #ff8a00;
$error: #ea4b48;
$successBright: #84d187;

$gren9: #002603;
$gren8: #173b1a;
$gren7: #2b572e;
$gren6: #406b42;
$gren5: #618062;
$gren4: #7a997c;
$gren3: #96b297;
$gren2: #b4ccb4;
$gren1: #dae5da;


$grey9: #1a1a1a;
$grey8: #333;
$grey7: #4d4d4d;
$grey6: #666;
$grey5: #808080;
$grey4: #999;
$grey3: #b3b3b3;
$grey2: #ccc;
$grey1: #e6e6e6;
$grey05: #f2f2f2;
$white: #fff;