@use "sass:math";
@use "_colors.scss" as *;
@use "_mixins.scss" as *;

// =================================================
.title {
    color: $grey9;
    @include typography("h5", 600);
    line-height: 1.5;
    line-height: 1.2;
}

// ==================================================
.link-arrow {
    @include typography("M", 500);
    line-height: 1.5;
    color: $success;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: toRem(12);
    transition: color 0.3s ease;

    &::before {
        content: "\e900";
        font-family: "iconfont";
        @include typography("T");
    }

    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {
            color: $successDark;
        }

    }
}

// ==================================================
.block-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: toRem(10);

    &--margin {
        margin-bottom: toRem(32);
    }

    &--center {
        text-align: center;
    }

    // .block-header__title

    &__title {
        flex-grow: 1;
    }

    // &__link {}

    &__slider-arrows {
        display: flex;
        flex-shrink: 0;
        gap: toRem(12);
    }

    // .block-header__slider-arrow

    &__slider-arrow {
        width: toRem(45);
        aspect-ratio: 1;
        background-color: $white;
        border: 1px solid $grey1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include typography("M");
        color: $grey9;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

        &--left {
            &::before {
                transform: rotate(-180deg);
            }
        }


        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                background-color: $success;
                color: $white;
                border-color: $success;
            }
        }
    }
}

// ===================================================
.button {
    display: inline-flex;
    padding-inline: toRem(40);
    padding-block: toRem(16);
    justify-content: center;
    align-items: center;
    border-radius: toRem(43);
    background-color: $success;
    @include typography("M", 600);
    color: $white;
    transition: all 0.3s ease;

    &--white {
        color: $success;
        background-color: $white;
    }

    &--middle {
        padding-inline: toRem(32);
        padding-block: toRem(14.12);
        @include typography("S", 600);
    }

    &--smoll {
        padding-inline: toRem(24);
        padding-block: toRem(10);
        @include typography("T", 600);
    }

    &--arrow {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: toRem(12);


        &::before {
            content: "\e900";
            font-family: "iconfont";
            @include typography("T");
        }
    }

    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {
            color: $white;
            background-color: $successDark;
        }
    }

}

// ===================================================

.icon-menu {

    @media (min-width: toEm($mobile)) {
        display: none;
    }

    @media (max-width: toEm($mobile)) {
        flex-shrink: 0;
        position: relative;
        width: toRem(30);
        height: toRem(18);

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.5s ease;
            position: absolute;
            height: toRem(2);
            width: 100%;
            right: 0;
            background-color: $grey9;
        }

        span {
            top: 50%;
            translate: 0 -50%;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        .open-menu & {
            span {
                width: 0;
            }

            &::before {
                top: 50%;
                rotate: -45deg;
                translate: 0 -50%;
            }

            &::after {
                bottom: 50%;
                rotate: 45deg;
                translate: 0 50%;
            }
        }
    }
}

// ===================================================

.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: toRem(2);

    // .rating__item
    &__item {
        appearance: none;
        background: url("../img/home/popular-products/star.svg") 0 0 no-repeat;
        width: toRem(10);
        aspect-ratio: 1;

        &:checked,
        &:checked~* {
            background: url("../img/home/popular-products/star-active.svg") 0 0 no-repeat;
        }
    }
}

// ======================================================

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(264), 1fr));

    @media (max-width:toEm($mobileSmall)) {
        grid-template-columns: repeat(auto-fill, minmax(toRem(150), 1fr));
    }

    // .products__item
    &__item {}
}

.products-item {
    overflow: hidden;
    outline: toRem(1) solid $grey1;
    background-color: $white;
    position: relative;
    transition: all 0.3s ease;


    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {
            z-index: 2;
            outline: toRem(1) solid $successDark;
            box-shadow: 0 0 toRem(5) toRem(2) rgba(0, 0, 0, 0.08);



            .products-item__title {
                color: $successDark;
            }

            .products-item__add-to-cart {
                background-color: $success;

                &::before {
                    color: $white;
                }

            }

            .products-item__actions {
                translate: 0 0;
            }
        }
    }

    // .products-item__labels
    &__labels {
        position: absolute;
        top: toRem(16);
        left: toRem(16);
        display: flex;
        flex-wrap: wrap;
        gap: toRem(8);
    }

    // .products-item__label
    &__label {
        padding: toRem(3) toRem(8);
        border-radius: toRem(4);
        color: $white;
        @include typography("S");
        transition: background-color 0.3s ease;

        span {
            font-weight: 500;
        }

        // .products-item__label--sale
        &--sale {
            display: inline-flex;
            gap: toRem(4);
            background-color: $error;



            @media (any-hover: hover) and (any-pointer: fine) {
                &:hover {
                    background-color: #ad3f3d;
                }
            }
        }

        // .products-item__label--best
        &--best {
            background-color: $blue;

            @media (any-hover: hover) and (any-pointer: fine) {
                &:hover {
                    background-color: #175baa;
                }
            }
        }
    }

    // .products-item__actions
    &__actions {
        translate: toRem(50) 0;
        position: absolute;
        top: toRem(16);
        right: toRem(16);
        display: flex;
        flex-direction: column;
        gap: toRem(6);
        transition: translate 0.3s ease;

        [data-touch] & {
            translate: 0 0;
        }
    }



    // .products-item__action
    &__action {
        border: toRem(1) solid $grey05;
        background-color: $white;
        border-radius: 50%;
        width: toRem(40);
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include typography("L", 500);
        color: $grey9;

        // .products-item__action--icon-favorite
        &--icon-favorite {}

        // .products-item__action--icon-eye
        &--icon-eye {}

        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                color: $white;
                background-color: $success;
            }
        }
    }

    // .products-item__picture
    &__picture {
        aspect-ratio: 254 / 230;
        padding: toRem(5);
    }

    // .products-item__image
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    // .products-item__body
    &__body {
        padding: toRem(12);
        display: flex;
        align-items: center;
        gap: toRem(10);
    }

    // .products-item__content
    &__content {
        flex-grow: 1;
    }

    // .products-item__title
    &__title {
        @include typography("S");
        color: $grey7;
        transition: color 0.3s ease;
    }

    // .products-item__prices
    &__prices {
        display: flex;
        gap: toRem(2);

        &:not(:last-child) {
            margin-bottom: toRem(6);
        }
    }

    // .products-item__current
    &__current {
        @include typography("M", 500);
        color: $grey9
    }

    // .products-item__old
    &__old {
        @include typography("M");
        color: $grey4;
        text-decoration: line-through;
    }

    // .products-item__rating
    &__rating {}

    // .products-item__add-to-cart
    &__add-to-cart {
        background-color: $grey05;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: toRem(40);
        aspect-ratio: 1;
        transition: background-color 0.3s ease;

        &::before {
            content: "\e902";
            font-size: toRem(15);
            font-weight: 500;
            font-family: "iconfont";
            color: $grey9;
            transition: color 0.3s ease;

        }
    }
}

// ========================================================

.countdown {

    // .countdown__timer
    &__timer {
        text-align: center;
    }

    // .countdown__digits
    &__digits {
        display: flex;
        @include typography("XXL");

        &:not(:last-child) {
            margin-bottom: toRem(4);
        }


        span {
            position: relative;
            flex-grow: 1;
            flex-basis: toRem(20);

            &:not(:last-child) {
                &::after {
                    content: ":";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    translate: 0 -50%;
                }
            }
        }
    }

    // .countdown__labels
    &__labels {
        display: flex;
        font-size: toRem(12);

        span {
            text-transform: uppercase;
            flex-grow: 1;
            flex-basis: toRem(20);
        }
    }
}

// ==========================================================