@use "sass:math";
@use "colors" as *;
@use "mixins" as *;

// ==============================================

.page {

    // .page__hero
    // &__hero {}

    // .page__advantages
    &__advantages {
        @include adaptiveValue("margin-bottom", 60, 30);
    }

    // .page__popular
    &__popular {}
}



// ===============================================
// Ніколи не використовувати aspect-ratio: та display: flex; разом ніколи!!!
// ===============================================
.hero {
    @include adaptiveValue("padding-block", 23, 15);

    // .hero__container
    &__container {
        display: grid;
        // min-height: toRem(600);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(toRem(288), auto);
        grid-auto-rows: minmax(toRem(288), auto);
        gap: toRem(24);

        @media (max-width:toEm($tablet)) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(toRem(450), auto);
            grid-auto-rows: auto;
        }

        @media (max-width:toEm(560)) {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
    }


    // .hero__item
    // &__item {}
}


.item-hero {
    display: flex;
    position: relative;

    &:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;

        .item-hero__link {
            @include adaptiveValue("padding", 60, 20);
        }

        @media (max-width:toEm($tablet)) {
            grid-row: span 1;

        }

        @media (max-width:toEm(560)) {
            grid-column: span 1;
        }
    }




    // .item-hero__link
    &__link {
        flex-grow: 1;
        display: block;
        position: relative;
        @include adaptiveValue("padding", 32, 20);


    }

    // .item-hero__body
    &__body {
        min-height: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        @media (min-width:toEm(550)) {
            max-width: 60%;
        }
    }

    // .item-hero__picture
    &__picture {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: toRem(10);
        overflow: hidden;

        // .item-hero__picture--decor
        &--decor {
            border: toRem(1) solid #000;
            box-shadow: 0 toRem(4) toRem(4) 0 rgba(0, 0, 0, 0.25);

            &::before {
                content: "";
                background: linear-gradient(99deg, rgba(0, 0, 0, 0.60) 10.4%, rgba(0, 0, 0, 0.00) 59.43%);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                @media (max-width:toEm($mobileSmall)) {
                    background: linear-gradient(99deg, rgba(0, 0, 0, 0.60) 20%, rgba(0, 0, 0, 0.00) 95%);
                }
            }
        }


    }

    // .item-hero__image
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}



.type-1-hero-item {
    gap: toRem(28);




    // .big-hero-item__title
    &__title {
        color: $white;
        @include typography("h2", 600);
    }

    // .big-hero-item__info
    &__info {
        border-left: toRem(2) solid $successBright;
        padding-left: toRem(12);
        color: $white;
    }

    // .big-hero-item__sale
    &__sale {
        @include typography("XL", 500);

        span {
            white-space: nowrap;
            background-color: $warning;
            border-radius: toRem(5);
            padding: toRem(4) toRem(12);
            @include typography("XL", 600);
        }

        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }

    &__button {
        @media (max-width:toEm($mobileSmall)) {
            width: 100%;
        }

    }
}


.type-2-hero-item {
    color: $grey9;
    justify-content: flex-start;

    >* {
        margin-bottom: toRem(8);
    }

    // .summer-hero-item__label
    &__label {
        text-transform: uppercase;
        @include typography("S", 500);

    }

    // .summer-hero-item__title
    &__title {
        @include typography("h5", 600);
        margin-bottom: toRem(12);
    }

    // .summer-hero-item__text
    &__text {
        color: $grey6;
        @include typography("S");
        margin-bottom: toRem(24);
    }

    // .summer-hero-item__button


    &:last-child {
        margin-bottom: toRem(0);
    }
}



.type-3-hero-item {
    align-items: center;
    max-width: none;
    color: $white;

    >* {
        margin-bottom: toRem(12);
    }

    // .type-3-hero-item__label
    &__label {
        text-transform: uppercase;
        @include typography("S", 500);
    }

    // .type-3-hero-item__title
    &__title {
        @include typography("h5", 600);
        margin-bottom: toRem(32);
        text-align: center;
    }

    // .type-3-hero-item__button


    &:last-child {
        margin-bottom: toRem(0);
    }
}




// =========================================




.advantages {

    // .advantages__container
    // &__container {}

    // .advantages__items
    &__items {
        border-radius: toRem(8);
        background-color: $white;
        box-shadow: 0 toRem(8) toRem(40) 0 rgba(0, 38, 3, 0.08);
        @include adaptiveValue("padding", 40, 20);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: toRem(15);
    }

    // .advantages__item
    &__item {
        flex-basis: toRem(230);
        flex-grow: 1;
    }
}

.item-advantages {
    display: flex;
    align-items: center;
    gap: toRem(16);

    // .item-advantages__icon
    &__icon {
        flex-shrink: 0;
        width: toRem(40);
        aspect-ratio: 1;
    }

    // .item-advantages__body
    &__body {
        display: grid;
        gap: toRem(8);
    }

    // .item-advantages__title
    &__title {
        @include typography("M", 600);
        color: $grey9;
    }

    // .item-advantages__text
    &__text {
        @include typography("S");
        color: $grey4;
    }
}

// ============================================


.popular {

    // .popular__container
    &__container {}

    // .popular__header
    &__header {}

    // .popular__items
    &__items {
        @include adaptiveValue("padding-top", 32, 20);
        @include adaptiveValue("padding-bottom", 50, 30);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(200), 1fr));
        grid-template-rows: auto;
        gap: toRem(24);
    }

    // .popular__item
    &__item {}
}


.item-category {
    border-radius: toRem(5);
    border: toRem(1) solid $grey1;
    background-color: $white;
    box-shadow: 0 0 toRem(12) 0 rgba(32, 181, 38, 0.32);

    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {

            border-color: $successDark;


            .item-category__name {
                color: $successDark;
            }
        }
    }

    // .item-category__link
    &__link {
        display: block;
        padding-inline: toRem(5);
        padding-block: toRem(16) toRem(24);
        display: grid;
        justify-items: center;
        gap: toRem(16);

    }

    // .item-category__picture
    &__picture {
        aspect-ratio: 190 / 130;
    }

    // .item-category__image
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain
    }

    // .item-category__name
    &__name {
        @include typography("L", 500);
        color: $grey9;
    }
}