@import url("reset.css");
@import url("fonts.css");

.wrapper {
    overflow: clip;
    min-height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background: #2B2929;
    color: #FFF;
}

[class*="__container"] {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: "Circular Std", sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding: 30px 0;
}

.header {
    background: linear-gradient(red, blue, green, yellow);
    border-radius: 10px;
    margin-bottom: 20px;
}



.header__content {
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;

}

.header__content:hover {
    color: #FE3F3F;
}

.page {
    padding: 30px;
}

.practices__content {
    margin-bottom: 20px;
}

.practice1,
.practice2,
.practice3,
.practice4,
.practice5,
.practice6,
.practice7,
.practice8 {
    margin-bottom: 10px;
    padding: 30px;
}

.block-translate,
.block-scale,
.block-rotate,
.block-skew,
.block-matrix,
.block-miscellaneous {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.212);
    margin-right: 100px;
    margin-bottom: 50px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.block-translate__item1,
.block-translate__item2,
.block-translate__item3,
.block-translate__item4 {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px hsl(163deg 100% 59%);
}

.block-translate:hover .block-translate__item1 {
    transform: translateX(30px);
}

.block-translate:hover .block-translate__item2 {
    transform: translateY(30px);
}

.block-translate:hover .block-translate__item3 {
    transform: translate(30px, 30px);
}

.block-translate:hover .block-translate__item4 {
    transform: translate3d(30px, 30px, 30px);
}


.block-scale__item1,
.block-scale__item2,
.block-scale__item3,
.block-scale__item4 {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px hsl(163deg 100% 59%);
}

.block-scale:hover .block-scale__item1 {
    transform: scaleX(1.5);
}

.block-scale:hover .block-scale__item2 {
    transform: scaleY(1.5);
}

.block-scale:hover .block-scale__item3 {
    transform: scale(1.5);
}

.block-scale:hover .block-scale__item4 {
    transform: scale3d(0.5, 1.2, 0.8);
}


.block-rotate__item1,
.block-rotate__item2,
.block-rotate__item3,
.block-rotate__item4 {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px hsl(163deg 100% 59%);
}

.block-rotate:hover .block-rotate__item1 {
    transform: rotateX(45deg);
}

.block-rotate:hover .block-rotate__item2 {
    transform: rotateY(45deg);
}

.block-rotate:hover .block-rotate__item3 {
    transform: rotate(45deg);
}

.block-rotate:hover .block-rotate__item4 {
    transform: rotate3d(1.5, 1.2, 1, 55deg);
}



.block-skew__item1,
.block-skew__item2,
.block-skew__item3 {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px hsl(163deg 100% 59%);
}

.block-skew:hover .block-skew__item1 {
    transform: skewX(30deg);
}

.block-skew:hover .block-skew__item2 {
    transform: skewY(30deg);
}

.block-skew:hover .block-skew__item3 {
    transform: skew(30deg);
}



.block-matrix__item1,
.block-matrix__item2 {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px hsl(163deg 100% 59%);
}

.block-matrix:hover .block-matrix__item1 {
    transform: matrix(1, 0.5, 2, 3, 4, 3);
}

.block-matrix:hover .block-matrix__item2 {
    transform: translate(30px, 30px) scale(1.2) rotate(45deg) skew(-30deg);
}



.block-miscellaneous__item1,
.block-miscellaneous__item2,
.block-miscellaneous__item3 {
    width: 300px;
    height: 300px;
    background-color: rgb(216, 16, 235);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px hsl(163deg 100% 59%);
}

.block-miscellaneous {
    transform-origin: top left;
    perspective: 500px;
    transform-style: preserve-3d;
}

.block-miscellaneous:hover .block-miscellaneous__item1 {
    transform: rotateX(45deg);
}

.block-miscellaneous:hover .block-miscellaneous__item2 {
    transform: scale3d(1.2, 0.8, 0.5);
}

.block-miscellaneous:hover .block-miscellaneous__item3 {
    backface-visibility: hidden;
    transform: rotateY(95deg);
    transition: all 0.5s;
}

.practice7 {
    display: inline-block;

}

.block-taro {
    position: relative;
    perspective: 800px;

}

.block-taro__back,
.block-taro__front {
    transition: 0.3s;
    border-radius: 8px;
    overflow: hidden;
}

.block-taro__back {
    transform: rotateX(180deg);
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.block-taro__back img,
.block-taro__front img {
    width: 350px;
    height: 500px;
}




.block-taro__front {
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.block-taro:hover .block-taro__back {
    transform: rotateX(0deg);
}

.block-taro:hover .block-taro__front {
    transform: rotateX(-180deg);
}





.practice8__machine {
    background: url("../img/street.avif") center / 100% no-repeat;
    overflow: hidden;
    position: relative;
}

.practice8__body {
    width: 500px;
    height: 180px;
    border-radius: 40% 40% 0 0;
    background: #031d07;
    position: relative;
    top: 102px;
    left: 35%;
}

.practice8__body::before {
    content: "";
    width: 20px;
    height: 110px;
    border-radius: 40% 20% 20% 40%;
    background-color: #f1e9e9;
    position: absolute;
    top: 30%;
    left: 0;
}

.practice8__body::after {
    content: "";
    width: 20px;
    height: 110px;
    border-radius: 20% 40% 20% 20%;
    background-color: #f1e9e9;
    position: absolute;
    top: 30%;
    right: 0;
}



.practice8__windows1 {
    width: 150px;
    height: 130px;
    background: #424040bb;
    border: 5px solid #000;
    border-radius: 35% 35% 0 0;
    position: absolute;
    top: 15%;
    left: 15%;
}

.practice8__windows2 {
    width: 150px;
    height: 130px;
    background: #424040bb;
    border: 5px solid #000;
    border-radius: 35% 35% 0 0;
    position: absolute;
    top: 15%;
    right: 15%;
}


.practice8__body:hover .practice8__windows1 {
    transform: translateY(20px);
}

.practice8__body:hover .practice8__windows2 {
    transform: translateY(20px);
}

.practice8__car {
    max-width: 1000px;
    height: 250px;
    background: #031d07;
    transform: translate(35%, 100%);
    border-radius: 20%;
    position: relative;
    bottom: 150px;
}




.practice8__doors {
    max-width: 400px;
    height: 250px;
    background-color: #031d07;
    position: relative;
    bottom: 0;
    left: 30%;
    transform-origin: left;
    perspective: 500px;
}

.practice8__door1 {
    width: 190px;
    height: 210px;
    border: 5px solid #000;
    border-radius: 10%;
    position: absolute;
    top: 0;
    left: 0;
}

.practice8__door2 {
    width: 190px;
    height: 210px;
    border: 5px solid #000;
    border-radius: 10%;
    position: absolute;
    top: 0;
    right: 0;
}

.practice8__doors:hover .practice8__door1 {
    transform: rotateY(60deg);
}

.practice8__doors:hover .practice8__door2 {
    transform: rotateY(60deg);
}

.practice8__car::after {
    content: "";
    width: 30px;
    height: 80px;
    border-radius: 40%;
    background-color: #dd1010;
    box-shadow: 0 0 5px 5px hsl(0, 80%, 61%);
    position: absolute;
    top: 20%;
    left: 0;
}

.practice8__car::before {
    content: "";
    width: 30px;
    height: 80px;
    border-radius: 40%;
    background-color: #ece6e6;
    box-shadow: 0 0 5px 5px hsl(164, 58%, 89%);
    position: absolute;
    right: 0;
    top: 20%;
}







.weels {
    max-width: 800px;
    position: relative;
    height: 150px;
    bottom: 0;
    left: 450px;
}

.weel {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #1f1b1b;
    border: 23px dashed #000;
    position: absolute;
    bottom: 0;
}

.weel:first-child {
    left: 5%;
    bottom: 0;
}

.weel:last-child {
    right: 0;
    bottom: 0;
}

.weel::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    background: linear-gradient(red, blue, green, yellow);
    border-radius: 10px;
    margin-bottom: 20px;
}

.footer__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
}

.footer__content {

    font-size: 46px;
    color: #FFF;
    text-align: center;
}