@import url("reset.css");
@import url("fonts.css");


.wrapper {
    overflow: clip;
    min-height: 100%;
    background: #f68a8a;
}

.header {
    background: linear-gradient(red, blue, green, yellow);
    border-radius: 10px;
    margin-bottom: 20px;
}

.header__container {
    max-width: 1201px;
    padding: 15px;
    margin: 0 auto;
}

.header__content {
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
}

.header__content p:hover {
    color: #FE3F3F;
}


.page {
    margin-bottom: 20px;
}

.container {
    max-width: 1320px;
    padding: 15px;
    margin: 0 auto;
}



.footer {
    background: linear-gradient(red, blue, green, yellow);
    border-radius: 10px;
    margin-bottom: 20px;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
}

.footer__content {
    font-size: 46px;
    color: #FFF;
    text-align: center;
}