@import url("fonts.css");
@import url("reset.css");
@import url("button.css");


body {
	font-family: "Poppins", sans-serif;
	background-color: #FFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	color: #1A1A1A;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1370px;
	margin: 0 auto;
	padding: 15px;
}


.header {
	background: linear-gradient(red, blue, green, yellow);
	border-radius: 10px;
	margin-bottom: 20px;
}


.header__content {
	font-size: 48px;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.header__content:hover {
	color: #18bdf0;
}



.checkout {
	margin-bottom: 20px;
}

.checkout__form {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}



.form-billing {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
}


.form-billing__information-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 1 1 100%;
	gap: 16px;
}

.form-billing__inputs {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
}

.form-billing__input {
	display: flex;
	flex-basis: 49px;
	padding: 14px 16px;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
	width: 280px;

}

.form-billing__input--width1 {
	width: 100%;
}

.form-billing__input--width2 {
	width: 428px;
}






.form-billing__checkboxs {
	display: inline-flex;
	margin-bottom: 32px;
	position: relative;
}

.form-billing__checkbox {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.form-billing__label {
	display: flex;
	align-items: center;
	gap: 6px;
	position: relative;
	cursor: pointer;
}

.form-billing__label::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background: url(../img/checkbox.svg) center/20px no-repeat;
	transition: background-color 0.3s;
}

.form-billing__checkbox:checked+.form-billing__label::before {
	background: url(../img/check_01.svg) center/20px no-repeat;
	background-color: #00B207;
}

.form-billing__checkbox:focus-visible+.form-billing__label::before,
.form-billing__checkbox:focus+.form-billing__label::before {
	outline: 1px solid #0dc43a;
	outline-offset: 1px;
}



.form-billing__line {
	width: auto;
	height: 1px;
	background-color: #E6E6E6;
	margin-bottom: 32px;
}

.form-billing__textarea {
	min-height: 100px;
	width: 100%;
	padding: 14px 16px;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
	resize: vertical;
}


.form-check {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	gap: 24px;
	flex: 0 1 424px;
}



.form-order {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 12px;
}

.tit {
	font-size: 20px;
	font-weight: 500;
}


.product__first,
.product__second {
	display: flex;
	width: 376px;
	justify-content: space-between;
	align-items: center;

}

.product__price-tag {
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	gap: 6px;
}

.product__image {
	width: 60px;
	height: 60px;
}

.product__text {
	display: inline-flex;
	gap: 6px;
}


.product__quantity {
	display: flex;
	align-items: center;
	gap: 4px;
}



.quantity-input {
	max-width: 50px;
	padding: 4px 8px;
	text-align: center;
	margin-left: 4px;
	border-radius: 6px;
	border: 1px solid #ccc;
	transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.quantity-input:focus {
	outline: none;
	border-color: #00B207;
	box-shadow: 0 0 5px rgba(0, 178, 6, 0.733);
}





.price {
	font-weight: 500;
}

.order__sum {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
}

.order__sum--padding {
	padding: 12px 0 0;
}

.order__line {
	width: auto;
	height: 1px;
	background-color: #E6E6E6;
}

.form-method {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}


.form-method__box-radio {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;

}



.form-method__radio {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.form-method__radio:checked~.form-method__span::before {
	background: url(../img/radio.svg) 0 0 / 20px no-repeat;
	background-position: center;

}

.form-method__radio:focus-visible+.form-method__span::before,
.form-method__radio:focus+.form-method__span::before {
	outline: 1px solid #0dc43a;
	outline-offset: 1px;
}

input:disabled+.form-method__span,
.form-method__span--disabled {
	opacity: 0.5;
	cursor: not-allowed;
}



.form-method__label {
	display: flex;
	align-items: center;
	gap: 6px;
	position: relative;
}

.form-method__span {
	position: relative;
	padding-left: 30px;
}

.form-method__span::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: url(../img/radio_1.svg) 0 0 / 20px no-repeat;
	align-self: flex-start;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.form-method__radio:disabled+.form-method__span {
	opacity: 0.5;
}





button {
	display: flex;
	width: 376px;
	padding: 16px 40px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: 43px;
	background: #00B207;
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
}




.footer {
	background: linear-gradient(red, blue, green, yellow);
	border-radius: 10px;
	margin-bottom: 20px;
}

.footer__container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
}

.footer__content {
	text-transform: uppercase;
	font-size: 46px;
	font-weight: 700;
	color: #FFF;
	text-align: center;
}
