@import url("reset.css");
@import url("fonts.css");

body {
    font-family: "Poppins", sans-serif;
    background-color: #333;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

.header {
    width: 100%;
    height: 50px;
    background: linear-gradient(red, blue, green, yellow);
    border-radius: 10px;
    color: #77608b;
    margin: 0 auto;
    font-size: 46px;
    text-align: center;
    margin-bottom: 20px;
}

.block-eco {
    width: 700px;
    height: 550px;
    margin: 0 auto;
    background-color: #fff;
    color: #808080;
    margin-bottom: 20px;
}

.block-eco__container {
    max-width: 678px;
    margin: 0 auto;
    padding: 15px;
}

.block-eco__text {
    line-height: 1.5;
    margin-bottom: 20px;
}

.text__descr {
    margin-bottom: 35px;
}

.image {
    background-color: #00B207;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
    margin-bottom: 4px;
}

li {
    margin-bottom: 14px;
}

.block-eco__list {
    margin-bottom: 20px;
}



.block-hydra {
    background: #302C42;
    font-family: "Montserrat", sans-serif;
}

.block-hydra__container {
    width: 1302px;
    height: 756px;
    background: url(../img/vector_7.svg) center top no-repeat,
        url(../img/vector_8.svg) center no-repeat;
    margin: 0 auto;
    padding: 60px 15px;
}

.block-hydra__image {
    max-width: 524px;
    border-radius: 240px 100px;
    background: #A3A3A3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
    vertical-align: middle;
    overflow: clip;
    margin-right: 108px;
}

.block-hydra__column {
    width: 630px;
    height: 439px;
    display: inline-block;
    vertical-align: middle;
}

.block-hydra__title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.block-hydra__subtitle {
    color: rgba(255, 255, 255, 0.95);
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.block-hydra__text {
    width: 630px;
    height: 228px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 28px;
}

.block-hydra__btn {
    color: #343045;
    border-radius: 40px;
    padding: 17px 43px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


.block__info {
    background-color: #302C42;
    font-family: "Montserrat", sans-serif;
    padding: 60px 0;
}

.block-info__container {
    max-width: 1302px;
    margin: 0 auto;
    padding: 0 15px;
}

.block-info__link {
    border-radius: 90px;
    padding: 35px 65px;
    background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.separator {
    display: inline-block;
    width: 1px;
    height: 116px;
    background: rgba(192, 183, 232, 0.33);
    vertical-align: middle;
}

.item {
    padding: 25px 0;
    padding-left: 70px;
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
}

.block-info__item1 {
    background: url(../img/icon_01.svg) 0 50% / 70px no-repeat;
    margin-right: 40px;
}

.block-info__item2 {
    background: url(../img/icon_02.svg) 0 50% / 59px no-repeat;
    margin-right: 60px;
    margin-left: 40px;
}

.block-info__item3 {
    background: url(../img/icon_03.svg) 0 50% / 65px no-repeat;
    margin-left: 40px;
}

.block-info__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.block-info__text {
    color: #FFF;
    font-size: 14px;
}


.footer {
    width: 100%;
    height: 50px;
    background: linear-gradient(red, blue, green, yellow);
    border-radius: 10px;
    color: #77608b;
    margin: 0 auto;
    font-size: 46px;
    text-align: center;
    margin-bottom: 20px;
}