@use "mixins/mixins" as *;

.header {
    margin-block-end: 2rem;
    background: linear-gradient(red, blue, green, yellow);
    border-radius: 0.625rem;



    // .header__content

    &__content {
        font-size: 3rem;
        font-weight: 700;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        text-wrap: none;

        &::before {
            content: "&";
            padding-left: 20px;

        }

        @include mobile {
            font-size: 1rem;
            color: red;
        }

        &:hover {
            color: aqua;


        }


    }
}