@import url("reset.css");
ul li {
    color: red;
}
ul li ul li {
    color: blue;
}
ul li ul li ol li {
    color: green;
}
ul li ul li ol li li {
    color: yellow;
}
ul li ul li ol li ul li {
    color: purple;
}
ul li ul li ol li ul li ol li {
    color: pink;
}   
ul li ul li ol li ul li ul li {
    color: orange;
}